.custom-nav-link {
    color: #adb5bd; /* Default text color */
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-right: 10px; /* Adjust as needed */
}

.custom-nav-link:hover,
.custom-nav-link:focus {
    color: #fff; /* Text color on hover or focus */
}

.custom-nav-link.active {
    font-weight: bold; /* Makes the text bold */
    color: #fff; /* Sets text color to white */
    background-color: #0d6efd; /* Sets background color to a blue shade */
    border-radius: 0.25rem; /* Rounds the corners of the background */
}
